<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<meta charset="utf-8">
	<title>Liste des animaux</title>
</head>

<body>
	<center><h2>Liste des animaux
		<p>
		<table class="mainTable">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Couleur</th>
					<th>Sexe</th>
					<th>Espèce</th>
			</thead>
			<tbody>
				<tr th:each="animal : ${animalList}">
					<td th:text="${animal.getName}" />
					<td th:text="${animal.getColor}" />
					<td th:text="${animal.getSex}" />
					<td th:text="${animal.getSpecies}" />
					<td><a th:href="@{'/animal/' + ${animal.id}}">📝</a></td>
					<td><a th:href="@{'/animal/delete/' + ${animal.id}}"onclick="return confirm('Êtes-vous sûr ?')">🗑️</a></td>
				</tr>
			</tbody>
		</table>
		<button type="button" onclick="window.location='/animal/create'">➕ Ajouter un animal</button>
</body>
</html>